---
layout: default
title: Issues
---

<div class="post-title">
	<ul>
		<li><h1><a href="/issue1">Issue 1</a></h1>
			{% for post in site.categories.issue1 %}
				{% if forloop.last %}
					{{ post.author }}
				{% else %}
					{{ post.author }}, 
				{% endif %}
			{% endfor %}
		</li>
		<li><h1><a href="/issue2">Issue 2</a></h1>
			{% for post in site.categories.issue2 %}
				{% if forloop.last %}
					{{ post.author }}
				{% else %}
					{{ post.author }}, 
				{% endif %}
			{% endfor %}
		</li>
	</ul>
</div>
