<!DOCTYPE html>
<html lang="en-us">
	<meta property="og:title" content="{{ post.title }}" />
    <meta property="og:site_name" content="Inferior Planets"/>
    <meta property="og:url" content="{{ site.url }}/{{ post.title }}" />
    <meta property="og:description" content="Inferior Planets is a thing and that thing is good." />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="" /> 

  {% include head.html %}

  <body class="custom" bgcolor="#A1A2A8">
  	<span class="layout-reverse">
	    {% include sidebar.html %}

	    <div class="content container">
	      {{ content }}
	    </div>
	</span>
  </body>
</html>
