---
layout: default
---

<meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="Inferior Planets"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:description" content="Inferior Planets is a thing and that thing is good." />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://inferiorplanets.com/meta1.png" />

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>
