---
layout: default
---

<html lang="en-us">
   <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="Inferior Planets"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:description" content="Inferior Planets is a thing and that thing is good." />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://inferiorplanets.com/meta1.png" /> 

  {% include head.html %}

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
